.nav2 {
    background-color: white;
    color: black;
}

.nav2 form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.nav2 form .createpost {
    border-radius: 3px;
    height: 10rem;
    width: 20rem;
    padding: 0.5rem;
}