.postcard {
    background-color: #EEEE;
    margin: 0.5rem 1rem;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.postcard h1 {
    margin-bottom: 1rem;
}

.reactsandcomments {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: flex-start;
}

.commentonpost {
    padding: 0rem;
    display: flex;
}

.postsettings {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style: none;
}

.viewcomments {
    width: 100px;
}

.viewcomments:hover {
    color: brown;
    cursor: pointer;
}

.bobo {
    background-color: transparent;
    border-radius: 5px;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

.bobo form {
    padding: 2rem 4rem;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

.editpost {
    display: flex;
    flex-direction: column;
}

