.login {
    min-height: 85vh;
}

.login h1 {
    font-size: 3rem;
}

.login form {
    padding: 8rem 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

@media screen and (max-width: 650px) {
    .login form {
        width: 90%;
    }
}